<h1><%= @restaurant.name %></h1>

<ul>
  <li>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
  </li>

  <p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<br>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Return to home", restaurants_path %>
</ul>
